---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Bootstrap Select by jimjh</title>

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/pygment_trac.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-select.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Bootstrap Select</h1>
        <p>Javascript dropdown menus using Bootstrap</p>

        <p class="view"><a href="https://github.com/jimjh/bootstrap-select">View the Project on GitHub <small>jimjh/bootstrap-select</small></a></p>


        <ul>
          <li><a href="https://github.com/jimjh/bootstrap-select/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/jimjh/bootstrap-select/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/jimjh/bootstrap-select">View On <strong>GitHub</strong></a></li>
        </ul>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=jimjh&repo=bootstrap-select&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="112px" height="20px"></iframe>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=jimjh&repo=bootstrap-select&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
      </header>
      <section>

        <h3>Demo</h3>
        <p>Here is a form that uses <code>bootstrap-select</code>.</p>
        {% include demo.html %}
        <p>Works with <code>.form-inline</code>, <code>.form-horizontal</code>,
        and <code>.form-vertical</code>. Requires
        <a href='http://jquery.com' title='jQuery'>jQuery v1.7.2</a> and
        <a href='http://twitter.github.com/bootstrap/javascript.html#dropdowns' title='Bootstrap'>Bootstrap's</a>
        Dropdown plugin.</p>

        <h3>Installation</h3>
        <p>Clone the <a href='https://github.com/jimjh/bootstrap-select'>repo</a> and
        copy <code>js/bootstrap-select.js</code> and
        <code>css/bootstrap-select.css</code> into your project.</p>
<pre>
<code>$&gt; git clone git@github.com:jimjh/bootstrap-select.git
$&gt; cp bootstrap-select/js/bootstrap-select.js path/to/your/project/js
$&gt; cp bootstrap-select/css/bootstrap-select.css path/to/your/project/css
</code></pre>
        <p>A minimal <a href='https://github.com/jimjh/bootstrap-select/blob/master/index.html'>example</a>
        is available in the repo for your reference.</p>

        <h3>Usage</h3>
        <p>Using Bootstrap's <code>.prepend</code> as an example, the
        boilerplate markup is as follows:</p>
        {% include boilerplate.md %}
        <ul>
          <li><code>data-select</code> is used to trigger
          <code>dropSelect()</code> on the <code>div</code> element. You can
          omit that attribute and invoke the method manually.</li>
          <li><code>dropdown-display</code> is used to contain the displayed
          text.</li>
          <li><code>dropdown-field</code> is used to store the value of the
          selected option. Its value will be populated with the
          <code>data-value</code> attribute of the selected
          <code>&lt;a&gt;</code> element</li>
        </ul>

      </section>

      <footer>
        <p>This project is maintained by <a href="https://github.com/jimjh">jimjh</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>

    </div>

    <script src="js/scale.fix.js"></script>
    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>

  </body>
</html>
